*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
img{
    height: 1.5rem;
    width: 1.5rem;
}
img:hover{
    cursor: pointer;
}
button{
    border: none;
    border-radius: 1rem;
    background-color: white;
}
td{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid grey;
    border-radius: 1rem;
}
div.container{
    display: flex;
    height: auto;
    width: fit-content;
}
div.name{
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    width: 15rem;
    font-size: 1.2rem;
}
div.phone{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
div.email{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}
th{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 2px solid gray;
    font-size: 3rem;
    font-family: consolas;

}
tr{
    margin-bottom: 2rem;
}
div.name1{
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}
div.shortname{
    margin-left: 0.2rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-size: 0.7rem;
}
div.popup{
    height: 10rem;
    width: 10rem;
    background-color: yellowgreen;
}
